<div>
    <div v-if="context.projectId !== data.targetProject.id ||
               !data.allowedUsers.includes(context.userId)" style="color: red;">
        <div>This app session is only for project {{data.targetProject.name}} (id = {{data.targetProject.id}})</div>
        <div>and for users {{data.allowedUsers}}</div>
    </div>
    <div>{{context.userId}}</div>
    <div id="mark-reference-objects-for-retail" v-if="context.projectId === data.targetProject.id &&
                                                      data.allowedUsers.includes(context.userId)">
        <sly-style>
            #mark-reference-objects-for-retail {

            }
            #small_table.tiny-table table thead th {
            font-size: 10px;
            }
            #small_table.tiny-table table {
            font-size: 11px;
            }
            #small_tabs .el-tabs__item {
            font-size: 10px;
            font-weight: 500;
            height: 30px;
            line-height: 30px;
            }
            #small_tabs .el-tabs__header {
            background: white;
            }

            #mark-reference-objects-for-retail .app-header {
            background: white;
            }

            #mark-reference-objects-for-retail .grid-gallery-views-scene.img-grid-gallery {
            z-index: 0;
            }

            #mark-reference-objects-for-retail {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            }
            #mark-reference-objects-for-retail .el-tabs {
            display: flex;
            flex-direction: column;
            height: calc(100% - 42px);
            }
            #mark-reference-objects-for-retail .el-tabs__content {
            overflow: scroll;
            }

        </sly-style>
        <div class="app-header">
            <div class="fflex" style="justify-content: space-between">
                <div>
                    <el-button
                            class="mt5 ml5 mb15"
                            type="primary"
                            size="mini"
                            :disabled="context.figureId === null ||
                                    ![state.targetClass, state.multiselectClass].includes(context.figureClassTitle) ||
                                    !state.selected[context.userId]"
                            @click="command('assign_tag')">
                        <i class="zmdi zmdi-label mr5"></i> Tag
                    </el-button>
                    <el-button
                            class="mt5 ml5 mb15"
                            type="warning"
                            size="mini"
                            :disabled="context.figureId === null ||
                                   ![state.targetClass, state.multiselectClass].includes(context.figureClassTitle)"
                            @click="command('delete_tag')">
                        <i class="zmdi zmdi-close-circle mr5"></i> Untag
                    </el-button>
                </div>
                <div>
                    <el-button
                            class="mt5 mb15"
                            size="mini"
                            @click="command('select_prev_object')"
                    >
                        <i class="zmdi zmdi-arrow-left"></i> Prev object
                    </el-button>
                    <el-button
                            class="mt5 mr5 mb15"
                            size="mini"
                            @click="command('select_next_object')"
                    >
                        <i class="zmdi zmdi-arrow-right"></i> Next object
                    </el-button>
                </div>
            </div>
        </div>
        <el-tabs id="small_tabs" v-model="state.selectedTab">
            <el-tab-pane label="REFERENCES" name="references" class="ml5">
<!--                <pre>{{state.selected}}</pre>-->
                <sly-grid-gallery
                        class="mr5"
                        v-show="data.userGrid.hasOwnProperty(context.userId)"
                        v-model="state.selected[context.userId]"
                        :content="data.userGrid.hasOwnProperty(context.userId)
                                  ? data.userGrid[context.userId].content
                                  : data.emptyGallery.content"
                        :options="data.userGrid.hasOwnProperty(context.userId)
                                  ? data.userGrid[context.userId].options
                                  : data.emptyGallery.options"
                >
                    <template v-slot:card-footer="{ annotation }">
<!--                        <div>{{annotation.catalogInfo}}</div>-->
                        <div class="mt5" style="color: green; font-weight: 500;">CATALOG INFO:</div>
                        <div v-for="v,k in annotation.catalogInfo">
                            <b style="color: #777777;">{{k}}</b>:{{v}}
                        </div>
                    </template>
                </sly-grid-gallery>
            </el-tab-pane>
            <el-tab-pane label="CATALOG" name="catalog" class="ml5">
                <span slot="label"><i class="zmdi zmdi-view-list-alt"></i> CATALOG</span>
                <sly-table id="small_table"
                           :options="{perPage: 10, pageSizes: [5, 10, 20, 50, 100]}"
                           :content="data.catalog"
                ></sly-table>
            </el-tab-pane>
        </el-tabs>
    </div>
</div>