<div>
    <sly-field title="Path to CSV catalog"
               description="Copy path to csv product catalog in Team Files">
        <el-input v-model="state.catalogPath"></el-input>
    </sly-field>
    <sly-field title="Path to user-batches mapping"
               description="Copy path to json in Team Files">
        <el-input v-model="state.user2batchesPath"></el-input>
    </sly-field>
    <sly-field title="Target class"
               description="Only objects of selected class can be marked as references">
        <sly-select-class :project-id="context.projectId"
                          :classes.sync="state.targetClassName"
                          :options="{showLabel: false}">
        </sly-select-class>
    </sly-field>
    <sly-field title="Multiselect class"
               description="Objects of this class is used to perform multiselect operations">
        <sly-select-class :project-id="context.projectId"
                          :classes.sync="state.multiselectClassName"
                          :options="{showLabel: false}">
        </sly-select-class>
    </sly-field>
        <sly-field title="Target tag"
               description="Choose tag that will be assigned to objects (should has string value)">
        <sly-select-tag :project-id="context.projectId"
                        :tags.sync="state.tagName"
                        :options="{showLabel: false}">
        </sly-select-tag>
    </sly-field>
</div>